$heroFooter2Color: #e6f4f1;
$btnBgColor: #27aae1;
$btnBgColor2: #00d8cf;
$callToActionBtn: linear-gradient(112.74deg, #00d8cf 23.84%, #27aae1 79.07%);
$sectionColor: #2c6a84;
$offWhite: #f6f6f6;
$btnText: #ffffff;
$techBg: #f9feff;
$coursepagesectionBg: #e4fbff;
$vacancyheroBg: linear-gradient(
  102.37deg,
  rgba(0, 216, 207, 0.08) 35.19%,
  rgba(39, 170, 225, 0.29) 75.64%
);
