$heroFooter2Color: #e6f4f1;
$btnBgColor: #27aae1;
$btnBgColor2: #00d8cf;
$callToActionBtn: linear-gradient(112.74deg, #00d8cf 23.84%, #27aae1 79.07%);
$sectionColor: #2c6a84;
$offWhite: #f6f6f6;
$btnText: #ffffff;
$techBg: #f9feff;
$coursepagesectionBg: #e4fbff;

@mixin signup {
	color: $btnText;
	background: $btnBgColor2;
	// background: $callToActionBtn;
}
@mixin home {
	color: $btnText;
	background: $btnBgColor;
}
@mixin contactusbtn {
	color: $btnText;
	background: $btnBgColor;
}
@mixin callToActionBtn {
	color: $btnText;
	background: $btnBgColor2;
}
@mixin webDev {
	background-color: $coursepagesectionBg;
	box-shadow: 4px 4px 4px 4px rgb(179, 174, 174, 0.25);
	border-radius: 15px;
}
@mixin studentLoan {
	background-color: #ffffff;
	box-shadow: 4px 4px 4px 4px rgb(179, 174, 174, 0.25);
	border-radius: 15px;
}
@mixin techCards {
	border-radius: 10px;
}
@mixin techHead {
	text-align: start;
}
@mixin techImages {
	// border-radius: 1rem;
}
@mixin ourInstructor {
	background: $sectionColor;
	color: $btnText;
	// max-width: 97%;
}

@mixin card-cut-one {
	border-top: 1px dashed $btnBgColor;
	border-right: none;
	border-bottom: none;
	border-left: 1px dashed $btnBgColor;
}
@mixin card-cut-two {
	border-top: none;
	border-right: none;
	border-bottom: 1px dashed $btnBgColor;
	border-left: 1px dashed $btnBgColor;
}
@mixin card-cut-three {
	border-top: 1px dashed $btnBgColor;
	border-right: 1px dashed $btnBgColor;
	border-bottom: none;
	border-left: none;
}
@mixin card-cut-four {
	border-top: none;
	border-right: 1px dashed $btnBgColor;
	border-bottom: 1px dashed $btnBgColor;
	border-left: none;
}
