@use "./customdes" as *;

.signinbtn {
  @include signin;
}
.signinbtnapply {
  @include signin;
}
// .signinbtn:hover {
// 	@extend .signinbtn;
// }
.callToAction {
  @include callToActionBtn;
}

.webDev {
  @include webDev;
}
.techHead {
  @include techHead;
}
.techCards {
  @include techCards;
}
.techImages {
  @include techImages;
}
.ourInstructor {
  @include ourInstructor;
}
// .callToAction:hover {
// 	@extend .signinbtn;
// }

.inst {
  position: relative;
}
// home page
.btnColor {
  background-color: $btnBgColor;
}
.btnText {
  color: $btnText;
}
.herotextWhite {
  color: $btnText;
}
.herotextColored {
  color: $btnBgColor;
}
.heroBg {
  background-image: url("../images/homehero3.png");
  background-repeat: no-repeat;
}
.ctaColor {
  background-color: $callToActionBtn;
}
.bgSoft {
  background-color: $sectionColor;
}
.testBg {
  background-image: url("../images/success.png");
}

.iconCol {
  color: $btnBgColor;
}
