@use "./customdes" as *;

.signinbtnapply {
  @include signin;
}
// .signinbtn:hover {
// 	@extend .signinbtn;
// }
.callToAction {
  @include callToActionBtn;
}

// .callToAction:hover {
// 	@extend .signinbtn;
// }

.inst {
  position: relative;
}
// home page
.btnColor {
  background-color: $btnBgColor;
}
.btnText {
  color: $btnText;
}
.herotextWhite {
  color: $btnText;
}
.herotextColored {
  color: $btnBgColor;
}
.heroBg {
  background-image: url("../images/herobg.png");
}
.ctaColor {
  background-color: $callToActionBtn;
}
.bgSoft {
  background-color: $sectionColor;
}
.testBg {
  background-image: url("../images/success.png");
}

//home page
