// @use "../customdes" as *;
@use "../colors" as *;
.partnersBg {
  background-color: #ffffff;
}
.testimonial {
  color: $btnBgColor2;
}
.testimonials {
  background-color: ffffff;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  // position: relative;
  // top: 0;
  // bottom: 0;
  // right: 110px;
  // opacity: 0.9;
}
.testimonialtext {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--white);
}
.testimonialname {
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  line-height: 1rem;
}
.inputBg {
  background-color: #fafafa;
}
.inputContainerBg {
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 4px rgb(179, 174, 174, 0.25);
  border-radius: 15px;
}
@media only screen and (max-width: 600px) {
  .partners {
    width: 20%;
    height: 20%;
  }
}
@media only screen and (min-width: 600px) {
  .testimonials {
    position: relative;
    top: 0;
    bottom: 0;
    right: 110px;
    opacity: 0.9;
  }
}
@media only screen and (max-width: 765px) {
  .testimonials {
    position: relative;
    top: -60px;
    bottom: 0px;
    right: 0;
    opacity: 0.9;
  }
}
