// imports
@use "../../colors" as *;

//mixin
@mixin pricingCard {
  box-shadow: 4px 4px 4px 4px rgb(179, 174, 174, 0.25);
  border-radius: 6px;
}
@mixin techCards {
  border-radius: 10px;
}

//include
.card-shadow {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.pricingCard {
  @include pricingCard;
}

.pricingHeadText {
  color: $btnBgColor2;
}

