@use "../../colors" as *;

$pryColor: #27aae1;
$tableLinesColor: #c0c0c0b2;
$fontStyle: "Roboto", sans-serif;
$fontStyle2: "Open Sans", sans-serif;
$textColor: #626262;
$muteTextColor: #7a7a7a;
$fontweight6: 600;
$fontweight5: 500;

@mixin heading-fontStyle {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}
@mixin CardHeader-fontStyle {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.0015em;
}
@mixin CardDetails-fontStyle {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5rem;
  text-align: center;
}

.Card-background {
  width: 100%;
  // height: 50rem;
  padding-block: 2rem;
  background-color: #ffffff;
  box-shadow: 2.31461px 2.31461px 28.9326px 4.62921px rgba(0, 0, 0, 0.25);
  border-radius: 18.5169px;

  h1 {
    @include CardHeader-fontStyle();
    padding-bottom: 1.5rem;
    color: $btnBgColor;
  }

  .card-wrap {
    border: none !important;
  }

  td {
    border-bottom: 1px solid rgba(192, 192, 192, 0.45);
    padding-block: 4%;
  }

  .first {
    padding-left: 2rem;
  }
  .last {
    padding-right: 2rem;
    color: $sectionColor;
  }
}

.Card-heading {
  @include heading-fontStyle();
  color: $btnBgColor;
  // padding-bottom: 1.5rem;
}

.Card-details {
  @include CardDetails-fontStyle();
  color: $textColor;
}

// LeaderboardCard
.LeaderboardCard-heading,
.LeaderboardCard-heading .last,
.leaderboard-serial {
  color: $btnBgColor;
}
.LeaderboardCard-pts,
.LeaderboardCard-studentName {
  letter-spacing: 0.0015em;
  color: $btnBgColor !important;
}

.achievement-badge {
  width: 10%;
  height: 25%;
}

// Responsiveness
@media screen and (max-width: 680px) {
  .Card-background {
    h1 {
      font-weight: 500;
      font-size: 1.2rem;
      padding-bottom: 0;
    }
    .first {
      padding-left: 1rem;
    }
    .last {
      padding-right: 1rem;
    }
  }

  .Card-heading {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .Card-details {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
}

// LeaderboardExplanationCard

.lec-background {
  width: 51rem;
  height: 31rem;
  padding: 15%;

  .mb-4 {
    margin-bottom: 1rem !important;
  }
}
.lec-close {
  position: absolute;
  left: 93.45%;
  right: 4.96%;
  top: 6.22%;
  bottom: 91.07%;
  // border: 1.5px solid #6c6c6c;
}

.lec-title {
  @include CardDetails-fontStyle();
  font-size: 1.2rem !important;
  color: $textColor !important;
}
.lec-img {
  margin-right: 0.6rem;
  width: 2rem;
}
.lec-explainTitle {
  @include CardDetails-fontStyle();
  font-size: 1.2rem !important;
  color: $textColor;
  margin: 0 !important;
  text-align: start !important;
}
.lec-explainDetail {
  @include CardDetails-fontStyle();
  font-size: 14px;
  color: $muteTextColor;
  text-align: start;
  margin: 0 !important;
}

//Responsiveness

@media screen and (max-width: 990px) {
  .lec-background {
    width: 20rem;
    height: 15rem;
    border-radius: 3.99856px;
    padding: 7.5%;
  }
  .lec-close {
    width: 10px;
    left: 93.45%;
    right: 4.96%;
    top: 6.22%;
    bottom: 91.07%;
  }

  .lec-title,
  .lec-explainTitle {
    font-size: 0.7rem !important;
    line-height: 0.9rem;
  }
  .lec-img {
    margin-right: 0.6rem;
    width: 1rem;
  }

  .lec-explainDetail {
    font-size: 0.5rem;
    line-height: 0.7rem;
  }
  @media screen and (min-width: 681px) {
    .lec-background {
      padding: 3%;
    }
  }
}

//SubmissionsCard
.sc-background {
  width: 18rem;
  height: 14rem;
  padding: 1rem;
  box-shadow: 2.14168px 2.14168px 26.771px 4.28336px rgba(0, 0, 0, 0.25);
  border-radius: 17.1335px;
}
.sc-topic {
  font-family: $fontStyle2;
  font-weight: $fontweight6;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $btnBgColor;
}
.sc-date {
  font-family: $fontStyle2;
  font-weight: $fontweight6;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: $muteTextColor;
}

//Grading Card
.gc-text {
  font-family: $fontStyle;
  font-weight: $fontweight5;
  color: $sectionColor;
}
.gc-studentId {
  font-size: 1rem;
}
.grading-btn {
  border: 1.4359px solid $btnBgColor !important;
  border-radius: 14.359px !important;
  // width: 4rem !important;
  height: fit-content;
  font-size: 1.2rem;
  color: $sectionColor !important;
  background-color: $btnText;
  padding: 0.1rem 0.5rem !important;
}
.grading-btn:hover,
.grading-btn:focus {
  border: 2px solid $btnBgColor !important;
  background-color: $btnText;
}
@media screen and (max-width: 1000px) {
  .grading-btn,
  .gc-studentId,
  .gc-text {
    font-size: small;
  }
}
@media screen and (max-width: 600px) {
  .grading-btn,
  .gc-studentId,
  .gc-text {
    font-size: x-small;
  }
}
@media screen and (max-width: 310px) {
  .grading-btn,
  .gc-studentId,
  .gc-text {
    font-size: smaller;
  }
}

// UsersCard
@mixin usersCard {
  max-width: 900px;
  margin-top: 50px;
  border-radius: 16px !important;
  padding-bottom: 50px;
}
@mixin allUsersCard {
  max-width: 1100px;
  margin-top: 50px;
  border-radius: 16px !important;
  padding-bottom: 50px;
}
@mixin tableBorderStyle {
  border-bottom: 1px solid $tableLinesColor !important;
  padding: 10px;
}

@mixin usersCardHead {
  font-weight: 900;
  letter-spacing: 0.005em;
  font-size: 1.5em;
}
@mixin usersCardHead1 {
  font-weight: 700;
  letter-spacing: 0.005em;
  font-size: 1.5em;
}
.usersCard {
  @include usersCard;
}
.allUsersCard {
  @include allUsersCard;
}

.usersCardHead {
  @include usersCardHead;
}
.blueText {
  color: $pryColor;
}

.usersTable {
  tr {
    td {
      @include tableBorderStyle;
    }
  }
}
.usersTable {
  tr {
    th {
      @include tableBorderStyle;
    }
  }
}

.studentTeamsCardHead {
  background-color: $pryColor;
  padding: 30px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: white;
  font-size: 1.5em;
}

.studentTeamsCard {
  max-width: 300px;
  border-radius: 16px !important;
  padding-bottom: 20px;
}

.taskInstructions {
  font-size: 0.75em;
}

@media only screen and (max-width: 600px) {
  .usersTable {
    font-size: smaller;
  }
  .taskInstructions {
    font-size: 0.5em;
  }
  .allUsersCard {
    font-size: 12px;
  }
  .usersCard {
    font-size: 12px;
  }
  .usersCardHead {
    @include usersCardHead1;
  }
  .smallHide {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .tabHide {
    display: none;
  }
}
